*,
*::after,
*::before {
    box-sizing: border-box;
    text-align: center;
    font-family: Montserrat, sans-serif;
    }

.page-1 {
    max-width: 1280px;
    }

.navbar {
    margin: 0;
}



.navbar-item {
    display: inline;
}

.navbar-item-view {
    margin-right: 2.5em;
    line-height: 78px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #FF0000;
}

.main-block {
    
}

.page-image {
    width: 100%;
    margin: 0;
    padding-top: 0;
}

.content-title {
    margin-top: 48px;
    margin-bottom: 38px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #373737;
}

.content-text {
    padding-left: 67px;
    padding-right: 67px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
}

.content-text2 {
    padding-left: 67px;
    font-weight: 400;
    padding-right: 67px;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
}

.btn-started {
    margin-top: 66px;
    padding: 0;
    height: 51px;
    width: 191px;
    color: white;
    cursor: col-resize;
    border: 0;
    background-color: #FF0000;
    font-size: 16px;
    text-transform: uppercase;
    }
.btn-started:hover {
    background-color: #780000;
    }

.page-footer-text {
    margin-top: 82px;
    text-align: right;
    padding-right: 105px;
    height: 39px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
}