@font-face {
	font-family: 'Gilam';
	src: url(../fonts/Fontfabric\ -\ Gilam\ Black\ DEMO.woff2);
	line height: 28px;
  font-weight: normal;
}
.page {
  font-family: 'Gilam';
  line-height: 28px;
  width: 1460px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  background: #171717;
  display: block;
}

.header-navigation {
  height: 95px;
  max-width: 1095px;
  margin-left: auto;
  margin-right: auto;
}

.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 0 0;
  margin: 0;
}
.header-logo {
  margin-right: 578px;
}
.header-contact-item {
  list-style-type: none;
  color: #D6AF76;
}
.accent-color{
  color:rgb(255, 255, 255);
}

.header-contact-link {
  text-decoration: none;
  color: #D6AF76;
  padding: 8px 19px 8px 19px;
  border: 1px solid #D6AF76;
}
.header-contact-image {
  padding-right: 8px;
}

/* First_Section */
.first-section {
  background-image: url(../image/header-bg\(resize\).jpg);
  background-size: cover;
}
.wrapper {
  width: 1095px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  line-height: 28px;
}
.grid {
  display: grid;
  grid-gap: 20px;
  margin: 20px;
  }
.grid > div  {
  text-align: center;
  vertical-align: center;
  padding-top: 155px;
  min-height: 200px;
}
.auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.first-section {
  margin-top: -20px;
  background-image: url(../image/)
  background-size: cover;
  height: 973px;
  }
.first-section-title {
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 25px;
  margin: 20px 0 0 20px;
}
.first-section-text {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 31px;
  margin: 0 183px 0 20px;
}
.first-section-item--one {
  background-image: url(../image/zemljanye_raboty.jpg);
  background-size: cover;
  text-align: center;
  display: block;
}
.first-section-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
}
.first-section-item--two {
  background-color: #B4A385;
}
.first-section-item--three {
background-color: #E4B564;
}
.first-section-item--four{
  background-color: #635A4A;
}
.first-section-item--five{
  background-color: #B08C4D;
}


/* second-section */

.second-section {
  background: #171717;
  height: 930px;
  margin-top: -20px;
}
.second-wrapper {
  width: 1095px;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
}
.second-section-title {
  font-size: 50px;
  color: #ffffff;
  padding-top: 75px;
  margin-top: 20px;
}
.second-section-portfolio {
  display: flex;
  padding: 10px 0 10px 0;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 670px;
  list-style-type: none;
  margin-top: 70px;
  color: #ffffff;
}
.second-section-item--1 {
  background-image: url(../image/ilososnaya-mashina.jpg);
  background-size: 350px 235px;
  box-sizing: border-box;
  margin: 0;
  height: 235px;
  width: 350px;
  padding: 23px 0 0 23px;
  line-height: 30%;
}
.second-section-link-decoration {
  text-shadow: 2px 1px 1px rgb(0, 0, 0);
}
.second-section-link {
  color: #ffffff;
  text-decoration: none;
}
.second-section-item--2 {
  background-color: #1F1F1F;
  box-sizing: border-box;
  margin: 0;
  height: 420px;
  width: 350px;
  padding: 23px 0 0 23px;
  line-height: 30%;
}
.second-section-item--3 {
  background-color: #242424;
  box-sizing: border-box;
  margin: 0;
  height: 330px;
  width: 350px;
  padding: 23px 0 0 23px;
  line-height: 30%;
}
.second-section-item--4 {
  background-color: #242424;
  box-sizing: border-box;
  margin: 0;
  height: 300px;
  width: 350px;
  padding: 23px 0 0 23px;
}
.second-section-item--5 {
  background-color: #E4B564;
  box-sizing: border-box;
  margin: 0;
  height: 190px;
  width: 350px;
  padding: 23px 0 0 23px;
}
.second-section-item--6 {
  background-color: #0E0E0E;
  box-sizing: border-box;
  margin: 0;
  height: 235px;
  width: 350px;
  padding: 23px 0 0 23px;
}

.second-section-item--7 {
  background-color: #0A0909;
  box-sizing: border-box;
  margin: 0;
  height: 190px;
  width: 350px;
  padding: 23px 0 0 23px;
}


/* third_section */

.third-section {
  background-color: #0E0E0E;
  height: 790px;
  margin-top: -16px;
}
.third-wrapper {
  max-width: 1095px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.third-section-title {
  font-size: 50px;
  color: #ffffff;
}
.third-section-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 0 0;
  list-style-type: none;
}
.third-section-link{
  border: 1px solid #E4B564;
  padding: 8px 30px 8px 30px;
  color: #E4B564;
  text-decoration: none;
}
.third-section-portfolio {
  display: grid;
  grid-template-columns: 365px 365px 365px;
  grid-template-rows: repeat(2, 295px);
  gap: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.third-section-portfolio:hover {
  
}
.third-section-item--1 {
  background: #634F2C;
  height: 295px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 120px;
}
.third-section-item--2 {
  background: #E8D2AB;
  height: 295px;
  box-sizing: border-box;
  text-align: center;
}
.third-section-mavis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  list-style-type: none;
  text-decoration: none;
}
.third-section-text{
  color: #ffffff;
  margin: 0;
  font-weight: 400;
}
.third-section-item--3 {
    background-color: #E4B564;
    height: 295px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 120px;
}
.third-section-item--4 {
  background-color: #635A4A;
  height: 295px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 120px;
}
.third-section-item--5 {
  background-color: #B08C4D;
  height: 295px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 107px;
}
.third-section-item--6 {
  background-color: #634F2C;
  height: 295px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 120px;
}




/* footer */

.footer-container {
  height: 180px;
  background-color: #171717;
}