.container {
    display: block;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 1282px;
    /* border: 1px solid black; */
}
.header-page {
    
}
.page-header-logo {
    text-align: start;
    font-style: normal;
    margin-left: 0;
    color:black;
    text-decoration: none;
    font-weight: 400;
    font-size: 80px;
}
.accent-color {
    color: #4bcaff;
}
.page-header-nav {
    margin-top: 38px;
    height: 72px;
}
.page-header-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    background: #35444F;
    list-style-type: none;
    padding: 0;
}
.header-menu-item {
    align-self: center;
    box-sizing: border-box;
    padding: 22px 53px 22px 53px;
    border-left: 1px solid #FFFFFF;
}
.line {
    border-right: 1px solid #FFFFFF;
}

.header-menu-link {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.header-menu-item:hover {
    background: #222F3A;
}

.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
}

.blog-sidebar {
    height: 399px;
    width: 344px;
    margin-right: 52px;
    border: 1px solid #000;
}
.sidebar-item {
    list-style-type: none;
    padding: 0px 0px 37px 37px;
    margin-top: 0;
}

.sidebar-item-list {
    text-decoration: none;
    margin-top: 40px;
    align-self: center;
    box-sizing: content-box; 
}

.sidebar-item-link:hover {
    background: #DBDBDB;
}

.sidebar-item-link {
    box-sizing: border-box;
    text-decoration: none;
    width: 342px;
    height: 81px;
    padding: 19px 53px 19px 53px;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.blog-item {
    height: 829px;
    width: 855px;
}
.image-border {
    /* padding: 75px 267px 75px 267px; */
    position: relative;
    width: 855px;
    height: 529px;
    border: 1px solid black;
}
.blog-item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: -50%;
    top: -50%;
    bottom: -50%;
    right: -50%;
    margin: auto;
}
.blog-item-image:hover {
    transition: 1s;
    transform: scale(1.3);
}
.blog-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
    margin-bottom: 34px;
}
.latin-version {
    margin-bottom: 54px;
}

/* FOOTER */
.page-footer-nav {
    margin-top: 54px;
    height: 69px;
    margin-bottom: 30px;
}
.page-footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    list-style-type: none;
}
.footer-menu-item {
    align-self: center;
    flex-basis: content;
    width: 100px;
    box-sizing: border-box;
    padding: 0px 8px 0px 18px;
}
.footer-menu-link {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}
.footer-menu-link:hover {
    color: #4bcaff;
    text-decoration: underline;
}
.copyright {
    box-sizing: content-box;
    padding: 0px 0px 0px 158px;
}
.footer-copyright {
    align-self: center;
    padding-left: 133px;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

}