@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Regular.woff2);
  font-weight: 400;
}
.page {
  font-family: 'Roboto', sans-serif;
}
.page-milan {
  background-image: url(../image/background.png);
  background-size: cover;
}
.container {
  width: 1024px;
  margin: 0 auto 0 auto;
  padding: 51px 0 15px 0;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header-logo:hover {
  color: #F26522;
}
.header-logo-content {
  list-style-type: none;
  margin-right: 8px;
}
.header-logo-link {
  text-decoration: none;
  width: 150px;
  height: 30px;
}
.header-logo-text {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 29px;
}
.header-logo-text:hover {
  color: #F26522;
}
.header-logo-text-2 {
  font-size: 18px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}
.header-logo-text-2:hover {
  color: #F26522;
}
.header-contacts {
  display: block;
  text-align: end;
  padding: 0;
  margin: 0;
}
.header-contacts-list {
  list-style-type: none;
  padding-bottom: 19px;
}
.header-contacts-link {
  text-decoration: none;
  color: #fff;
}
.header-contacts-link:hover {
  color: #F26522;
}


/* Photogallery */
.photogallery {
  margin-top: 22px;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 280px);
  justify-content: space-between;
  padding: 0;
}
.portfolio-item {
  box-sizing: content-box;
  margin: 0 0 30px 0;
  list-style-type: none;
  position: relative;
}
.portfolio-item:hover > .porfolio-item-description {
  z-index: 1;
}
.porfolio-item-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -1;
  position: absolute;
  top: 164px;
  width: 100%;
  align-items: center;
  background-color: #F26522;
  height: 55px;
  box-sizing: border-box;
  
}
.description-list {
  padding-left: 16px;
}
.description-item1 {
  list-style-type: none;
  color: #fff;
  font-size: 10px;
}
.description-item2 {
  list-style-type: none;
  color: #fff;
  font-size: 20px;
}
.description-text {
  padding-right: 16px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}




















.portfolio-text {
  color: #fff;
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 18px;
}


/* Footer */
.footer-info {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin: 30px 0 0 0;
}